{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-4">
{% if user.is_superuser %}
<h1>Add Course</h1>
{% if msg %}
<div class="alert alert-success" role="alert">
  {{ msg }}
</div>
{% endif %}
{% if err %}
<div class="alert alert-danger" role="alert">
  {{ err }}
</div>
{% endif %}
<form action="{% url 'addcourse' %}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Course</label>
      <select class="form-control" name="course" id="exampleFormControlSelect1">
        <option value="btech">B.Tech</option>
        <option value="bba">BBA</option>
        <option value="bl">B.Law</option>
      </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Branch</label>
        <select class="form-control" name="branch" id="exampleFormControlSelect1">
          <option value="cse">CSE</option>
          <option value="ece">ECE</option>
          <option value="eee">EEE</option>
          <option value="mech">Mechanical</option>
          <option value="civil">Civil</option>
          <option value="chem">Chemical</option>
          <option value="biotech">Bio Tech</option>
          <option value="marketing">Marketing</option>
          <option value="finance">Finance</option>
          <option value="hr">HR</option>
          <option value="itanalytics">IT & Analytics</option>
          <option value="operations">Operations</option>
          <option value="consulting">Consulting</option>
          <option value="schooloflaw">School of Law</option>
        </select>
      </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Google" name="title" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Discription</label>
      <textarea class="form-control" name="disc" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Link</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="http://google.com" name="link" required>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Image small (width:306px height:156px)</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="imgsmall" accept=".svg" required>
    </div><br>
    <div class="form-group">
        <label for="exampleFormControlFile2">Image Big (width:636px height: 400px)</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile2" name="imgbig" accept=".svg" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>   
{% else %}
<h3>Access Denied</h3>
{% endif %}
</div>
{% endblock %}