{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Register</h3>
            <form action="../register/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username *" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Your Email *" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Your Password *" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Register" />
                </div>
                
            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Login</h3>
            <form action="../login/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Your Username *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">

                    <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}